!!!
html
  head
    title Wander
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

  script(src="http://code.jquery.com/jquery.min.js")
  script(src="/javascripts/jwerty.js")
  script(src='/socket.io/socket.io.js')
  script(src="/javascripts/wander.js")