body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wasteland{
	background-color:#000;
	height:500px;
	position:relative;
	width:100%;
	overflow:auto;
}
